
.owners-decoration {
    display: block;
    padding: 2px 5px;
    background-color: var(--bgColor-muted, var(--color-canvas-subtle));
    border-bottom: var(--borderWidth-thin) solid var(--borderColor-default, var(--color-border-default));
    color: var(--fgColor-muted, var(--color-fg-muted));
}

.owners-team {
    display: inline-block;
    margin-right: 5px;
    padding: 0 5px;
    font-size: 12px;
    font-weight: var(--base-text-weight-medium, 500);
    line-height: 18px;
    white-space: nowrap;
    border-width: 1px;
    border-style: solid;
    border-radius: 2em;
    border-color: var(--borderColor-attention-muted);
    background-color: var(--bgColor-attention-muted);
    color: var(--fgColor-muted);
}

.owners-team-approved {
    border-color: var(--borderColor-success-muted);
    background-color: var(--bgColor-success-muted);
}

.owners-team-approved:before {
    content: '✓';
    margin-right: 5px;
}

.file:not(.open) .owners-decoration {
    border-top: var(--borderWidth-thin) solid var(--borderColor-default, var(--color-border-default));
    border-bottom: 0;
    border-radius: 0 0 var(--borderRadius-medium) var(--borderRadius-medium);
}
