/* normalize css starts here */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* normalize css ends here */

html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif;
  color: #222;
}

body {
  width: 350px;
  font-size: 1em;
}

.app {
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

.token-label {
  font-size: 1em;
}

#token {
  width: 100%;
  font-size: 0.75em;
  margin-top: 10px;
  padding: 2px;
}
